body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2ebf0;
  background-image: linear-gradient(to right, #f0f6f6, #f6f2f2, #e2ebf0);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}
.items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 1.2rem;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2%;
}

.parent {
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.image {
  min-width: 100%;
  height: 100%;
  background-color: black;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}

.image::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.2);
}
.parent:hover .image,
.parent:focus .image {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .image:before,
.parent:focus .image:before {
  display: block;
}

.parent:hover a,
.parent:focus a {
  display: block;
}

h5 {
  display: inline-block;
  margin: 10px;
}

.quant {
  margin-left: 35%;
  padding-bottom: 2%;
}

h3 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40%;
}
.icon {
  height: 20px;
}

.cartParent {
  width: 300px;
  height: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.cartImg {
  min-width: 100%;
  height: 100%;
  background-color: black;
  background-position: center;
  background-size: cover;
}
.cartp {
  margin: 0;
  display: block;
  font-size: 1.2rem;
}
.itemDetCart {
  width: 50%;
}

h2 {
  display: block;
}

.cart {
  min-height: 100%;
  width: 100%;
  position: absolute;
  padding: 5%;
  background: transparent;
}

.trans {
  background: transparent;
}
.cartItem {
  position: relative;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2%;
  width: 50%;
}
.navbar-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.pay {
  width: 60%;
  margin: 0 auto;
}
.center {
  text-align: center;
}

//Registration Login

@font-face {
  font-family: "Muli-Regular";
  src: url("./fonts/muli/Muli-Regular.ttf");
}
@font-face {
  font-family: "Muli-SemiBold";
  src: url("./fonts/muli/Muli-SemiBold.ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  outline: none;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f6f7;
  // background: #accffe;
}
.inner {
  position: relative;
  width: 40%;
}
.image-1 {
  position: fixed;
  top: 10px;
  left: 10%;
  z-index: 99;
}
.image-2 {
  position: fixed;
  top: 10px;
  z-index: 99;
  right: 170px;
}
.reg-form {
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 77px 61px 66px;
  padding-bottom: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.reg-h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Muli-SemiBold";
  color: #333;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 33px;
}
.form-holder {
  position: relative;
  margin-bottom: 21px;
  span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #333;
    &.lnr-lock {
      left: 2px;
    }
  }
}
.reg-control {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  display: block;
  width: 100%;
  height: 38px;
  background: none;
  padding: 3px 42px 0px;
  color: #666;
  font-family: "Muli-SemiBold";
  font-size: 16px;
  &::-webkit-input-placeholder {
    font-size: 14px;
    font-family: "Muli-Regular";
    color: #999;
    transform: translateY(1px);
  }
  &::-moz-placeholder {
    font-size: 14px;
    font-family: "Muli-Regular";
    color: #999;
    transform: translateY(1px);
  }
  &:-ms-input-placeholder {
    font-size: 14px;
    font-family: "Muli-Regular";
    color: #999;
    transform: translateY(1px);
  }
  &:-moz-placeholder {
    font-size: 14px;
    font-family: "Muli-Regular";
    color: #999;
    transform: translateY(1px);
  }
  &:focus {
    border-bottom: 1px solid #accffe;
  }
}
.reg-button {
  border: none;
  width: 100%;
  height: 49px;
  margin-top: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
  background: #3f72af;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;

  span {
    position: relative;
    z-index: 2;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(52, 152, 253, 0.25);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  &:after {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  &:hover {
    &:before,
    &:after {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
}
@media (max-width: 991px) {
  .inner {
    width: 400px;
    left: 4%;
  }
}
@media (max-width: 767px) {
  .inner {
    width: 100%;
    left: 0;
  }
  .image-1,
  .image-2 {
    display: none;
  }
  form {
    padding: 35px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
  }
  .wrapper {
    background: none;
  }
}
.login-a {
  padding: 0;
  margin: 7px;
  color: #000;
  text-decoration: none;
}
.login-a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #3f72af;
}

.user-ip {
  padding: 2%;
  margin: 2% 0;
  width: 100%;
  border: 1px solid steelblue;
  border-radius: 10px;
}

.user-ip1 {
  padding: 2%;
  margin: 2% 0;
  margin-right: 2%;
  width: 20%;
  border: 1px solid steelblue;
  border-radius: 10px;
  display: inline;
}

p.user-ip1 {
  float: right;
  margin-right: 0;
}

.user-ip2 {
  padding: 2%;
  margin: 2% 0;
  margin-right: 2%;
  width: 40%;
  border: 1px solid steelblue;
  border-radius: 10px;
  display: inline;
}

select.user-ip2 {
  padding: 2%;
  margin: 2% 0;
  width: 45%;
  border: 1px solid steelblue;
  border-radius: 10px;
  display: inline;
}

.float-r {
  float: right;
}

table {
  width: 100%;
}
td {
  padding: 2%;
}

//User Home Screen
.userscreen {
  position: relative;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2%;
  width: 75%;
}
.pieChart {
  width: 100%;
  margin: 2%;
  display: inline-block;
}

.pieColor {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  margin: 0 5px;
}

.inline {
  display: inline;
}

.username {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 5rem;
}
.user-head {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  margin: 0;
}

.user-info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  border: 1px solid cadetblue;
  border-radius: 10px;
  padding: 2%;
}
.user-img {
  display: block;
  border: 10px solid black;
  margin: 0 auto;
}

.btn-user {
  margin: 3% 10%;
}

.center-div {
  position: relative;
  margin: 0 auto;
  align-items: center;
  vertical-align: middle;
}

.icon.ion-chevron-down {
  color: #000;
}

ul {
  font-family: Montserrat, sans-serif;
}

#top-sec {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background: url("./images/food.jpg") top / cover no-repeat;
  height: 100vh;
}
.admin-img {
  position: relative;
  width: 100%;
}
.admin-h3 {
  position: absolute;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Muli-SemiBold";
  color: #fff;
  z-index: 1;
  letter-spacing: 3px;
  text-align: left;
  margin-bottom: 33px;
  top: 200px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}
.card {
  position: relative;
  width: 30%;
  overflow: hidden;
  margin: 1%;
}
.card-img {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.card:hover .overlay {
  bottom: 0;
  height: 100%;
}

.card:hover .card-img {
  transform: scale(1.4);
}

.card-details {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #fff;
}
.card-p {
  color: #000;
  display: block;
  text-align: center;
}

.MuiButtonBase-root.fabBtn {
  position: fixed;
  right: 0;
  bottom: 10%;
  background-color: #ea86b6;
  margin-right: 5%;
}
.MuiButtonBase-root.fabBtn:hover {
  background-color: #e05297;
}

.addCard {
  width: 40%;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
}

.input-card {
  width: 100%;
  padding: 5px;
  margin: 1% 0;
  border: none;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  background-color: #fafafa;
}
.add-p {
  font-size: larger;
}
.row,
.col {
  padding: 0;
}
.col1 {
  width: fit-content;
  margin: 0 30px;
  padding: 0;
}

.prod {
  padding: 5%;
  background-color: #ccf6c8;
  margin: 5% -5%;
}

.btn {
  margin: 5% 0;
}

.back.btn {
  position: absolute;
  top: 10%;
  left: 20%;
  border: #006a71 1px solid;
}
.back.btn:hover {
  background-color: #006a71;
}
.addbtn.btn {
  background-color: #226597;
  border: #226597 1px solid;
}
.addbtn.btn:hover {
  background-color: #113f67;
}
.MuiButtonBase-root.fabBtn1 {
  background-color: #006a71;
  color: white;
  position: absolute;
  right: 15%;
}
.MuiButtonBase-root.fabBtn1:hover {
  background-color: #ccf6c8;
  color: black;
}
.family p,
.family h6 {
  display: inline-block;
  width: 40%;
}

.no-margin {
  margin: 0;
}
.addbtn1.btn {
  margin: 0;
}
//profile
.emp-profile {
  padding: 10%;
  padding-left: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 0.5rem;
  background-color: whitesmoke;
}
.heading {
  font: weight 900;
  text-align: center;
  padding-top: 50;
  margin-left: 180px;
}
.val {
  margin-left: 100px;
}
.line {
  border: 4px solid black;
  border-radius: 5px;
  height: 50 px;
  width: 100%;
  margin-left: 100px;
}
.position {
  margin-left: 100px;
}
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 70%;
  height: 50%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #052a4eb8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5 {
  color: #333;
  margin-left: 50px;
  padding-block-start: 70px;
}
.profile-head h6 {
  color: #0062cc;
}
.profile-edit-btn {
  background-color: black;
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs {
  margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}
.profile-work {
  padding: 14%;
  margin-top: -15%;
}
.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul {
  list-style: none;
}
.profile-tab label {
  font-weight: 600;
}
.profile-tab p {
  font-weight: 600;
  color: #31326f;
}

.chart {
  width: 40%;
  height: 300px;
  display: inline-block;
  margin-left: 100px;
}

.pie {
  h1 {
    font-size: large;
    text-align: center;
  }
  width: 30%;
  height: 300px;
  margin: 20px 0;
  display: inline-block;
}
.pie1 {
  h1 {
    font-size: large;
    text-align: center;
  }
  width: 40%;
  height: 400px;
  margin: 20px 0;
  display: inline-block;
}
.pieContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.trans {
  thead {
    td {
      color: #07689f;
      text-align: center;
      font-size: x-large;
      padding: 10px;
    }
  }
  td {
    border: 1.5px solid black;
    font-size: 1.2rem;
    color: black;

    text-align: center;
    padding: 5px;
  }
}

.stats {
  width: 80%;
  margin: 0 auto;
  margin-top: 94vh;
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
    margin: 30px 0;
  }
  table {
    margin: 0 auto;
    width: fit-content;
  }
}

.horLine {
  width: 20%;
}
.print {
  img {
    width: 30px;
    margin: 0 5px;
  }
  margin: 50px 0;
  margin-left: 45%;

  border-radius: 10px;
  padding: 10px;
  color: #fd8c04;
  font-weight: bold;
  border: 2px solid #fd8c04;
}

.print:hover {
  background-color: #fd8c04;
  color: black;
}

.admin {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 100px;
  h2 {
    text-align: center;
  }
  .chart {
    width: 90%;
    height: 450px;
    margin: 50px;
    margin-bottom: 100px;
  }
}

.imgbtn {
  border: none;
  overflow: hidden;
  background-color: white;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  padding: 0;
  padding-bottom: 10px;
  transition: 0.5s ease-in;
  margin: 20px;
  img {
    position: relative;
    width: 350px;
    height: 300px;
    display: block;
    transition: 0.5 ease-in;
  }
}

.imgbtn:hover {
  img {
    transform: scale(0.9);
  }
  color: black;
}

.adminDash {
  width: 70%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.stateChart {
  width: 400px;
  height: 350px;
  display: inline-block;
  margin: 50px 0;
  h3 {
    display: block;
    text-align: center;
    margin: 0;
  }
}

.userStats {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.map {
  h1 {
    text-align: center;
  }
  width: 60%;
  margin: 0 auto;
}
.rev {
  table {
    width: 500px;
    border: 1px black solid;
    tr,
    td {
      border: 1px black solid;
    }
  }
}

.revhead {
  margin: 50px 0;
}
.map1 {
  h1 {
    padding: 0 20px;
    text-align: center;
  }
  width: 46%;
  margin: 20px;
  margin-left: 40px;
  display: inline-block;
}
.cardItem {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  padding: 5%;
  img {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}

.inner1 {
  padding: 50px;
}

.btn.dltbtn {
  margin: 10px;
  position: absolute;
  display: inline;
  right: 100px;
}

p.user-ip {
  border: none;
}
